
@{
    ViewBag.Title = "TripTEC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/Content/Flatly.css">
</head>
        
    <hr>
    <h4>Bienvenido a la página principal de TripTEC</h4>
    



